<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      As you did not check your car car out in the given 30 minute window, your booking has been cancelled.
      Sorry you will have to create a new booking.
    </p>
  </body>
</html>