<h1>CAR RENTAL APPLICATION</h1>

<ul>
		<p>You need to register before booking cars.</p>
		<%= link_to "Sign Up", new_user_registration_path, :class=>'btn btn-large btn-default' %>
		
		<br><br>
		<%= link_to "Sign In", new_user_session_path,:class=>'btn btn-large btn-default' %>
</ul>